nav.navbar.is-primary(role='navigation' aria-label='main navigation')
  .navbar-brand
    a.navbar-item(href='https://bulma.io')
      img(src='/static/logo/octolion-white@2x.png' alt='Bulma: Free, open source, and modern CSS framework based on Flexbox' width='112' height='28')
    a.navbar-burger(role='button' aria-label='menu' aria-expanded='false')
      span(aria-hidden='true')
      span(aria-hidden='true')
      span(aria-hidden='true')